.header {
    display: block;
    position: fixed;
    width: 100%;
}

.header-container {
    display:flex;
    border-bottom: 1px solid #333;
    padding: 10px;
    min-height: 30px;
}

.header-left {
    display: flex;
    border-right: #333 1px solid;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: auto;
}

#title {
    max-width: 100px;
}
.headerF {
    display: flex;
    gap :15px;
    padding: 0 10px;
    align-items: center;
}

.headerS {
    display: flex;
    gap :15px;
    padding: 0 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

#navbtn {
    align-self: center;
}


/*Thử nghiệm*/
.text-background {
    /* font-size: 48px; Kích thước chữ */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold; /* Đậm chữ */
    color: transparent; /* Màu chữ trở thành trong suốt */
    background-image: url('./loor.gif'); /* Tạo gradient cho nền */
    background-clip: text; /* Cắt nền theo chữ */
    -webkit-background-clip: text; /* Hỗ trợ cho trình duyệt Webkit */
    text-fill-color: transparent; /* Đảm bảo chữ không có màu */
}  

/* #searching func */
/* Thanh kết quả tìm kiếm */
#search-results {
    display: none; /* Hidden by default, shown when searching */
    position: absolute;
    top: 100%; /* Position below the input field */
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners for the results dropdown */
    max-height: 200px; /* Maximum height for results list */
    overflow-y: auto; /* Scrollable if content overflows */
    z-index: 10; /* Ensure results dropdown is above other content */
  }
  
  #results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #results-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee; /* Divider between results */
  }
  
  #results-list li:last-child {
    border-bottom: none; /* Remove border from last item */
  }
  
  #results-list img.thumbnail {
    width: 70px; /* Thumbnail width */
    /*height: 30px; /* Thumbnail height */
    aspect-ratio: 16/9;
    object-fit: cover; /* Ensure image covers the area */
    margin-right: 10px; /* Space between image and text */
  }
  
  #results-list li:hover {
    background-color: #f0f0f0; /* Highlight on hover */
  }