.footer-distributed {
  background-color: #292c2f;
  color: white;
  text-align: center;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ftctn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.ftl, .ftr {
  display: flex;
  align-items: center;
}

.ftl p {
  margin: 0;
}

.ftr h2 {
  margin: 0 10px 0 0;
}

.ftr i {
  margin: 0 5px;
  font-size: 1.5em;
}