.Cat{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    opacity: .7;
}
.loadMorelb{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.loadMorelb .homepage{
    display: flex;
}

.pTitle {
    font-weight: bold;
}