.banner-slide {
    width: 700px;      
    height: 400px;     
    max-width: 700px;  
    max-height: 400px; 
    min-width: 400px;  
    min-height: 200px;
    position: relative;
    overflow: hidden;
  }

  .swiper {
    height: 400px;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .slide-text {
    color: white;
    z-index: 1;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.25rem;
  }

  .banner .sld > img {
    width: 855px;
  }

  #img-sld {
    width: 855px;
    max-height: 430px;
    object-fit: cover;
    height: 400px;
  }
  
  .banner .sld {
    width: 855px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /*true config*/
  .swiper {
    width: 855px;
    height: 400px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }